/*Index*/

body{
	word-break: keep-all;
}

footer{
	padding:0;
	margin:0;
}

@font-face{
	font-family: 'namsan';
  	src: url("../font-awesome/fonts/SeoulNamsanvert.ttf"); 
}

hr{
	border-top:1px solid #989898;
}

.font-namsan{
	font-family: 'namsan';
}

.navbar-header a {
	color:black;
}

.center-text{
	text-align: center;
}

.default-padding{
	padding:0px !important;
}

.force-gray{
	background: #F2F2F2 !important;
}

.background-grayish{
	background: #e6e6e6;
}

.background-greenish{
	background: #b8e2cf;
	/*background: #afd0c1;*/
}

.background-blueish{
	background: #4b8b9e;
}

.background-lightblueish{
	background: #b8dae2;
}

.background-darkblueish{
	background: #2b72cd;
}


.bold{
	font-weight: bold;
}

.img-group-header{
	background: #ffcb6b;
	padding:3px 0px;
}

.img-item{
	margin: 10px auto;
}

.max-size{
	max-width: 970px;
	margin: 0 auto;
}

.header-margin-reset{
	margin:0;
}

.padding-20{
	padding: 20px;
}

.padding-20-10{
	padding: 20px 10px;
}

.padding-20-10-60{
	padding: 20px 10px 60px;
}

.image-row{
	padding-bottom: 40px;
}

.margin-top-20{
	margin-top:20px;
}

.jumbo-green{
	background: #afd0c1;
}

.white-text{
	color:white;
}

.black-text{
	color:black;
}

.gray-text{
	color:#9d9d9d;
}

.center{
	margin:0 auto;
}

.cost-table{
}

.cost-table td{
	border:black solid 3px;
	padding:5px 20px;
}

.footer-padding{
	padding: 50px 10px;
}

@media (min-width: 768px) {
.container{
	width: 100%;
}
}